@{
    ViewData["Title"] = "Home Page";
}
    <p>Presionar en el boton "Saludar" para darle un hola al mundo</p>
    <div class="btn alert-success"><a asp-area="" asp-controller="Home" asp-action="Saludar">Saludar</a></div>
